@model MvcBoard.Models.Board

@{
    ViewBag.Title = "Create";
}

<h1>글 작성</h1>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <table class="tbl_basic">
        <tr>
            <th style="width: 10%;">이름</th>
            <td>@Html.TextBoxFor(m => m.board_name, new { placeholder = "이름을 입력하세요" })</td>
        </tr>
        <tr>
            <th>제목</th>
            <td colspan="3">@Html.TextBoxFor(m => m.board_subject, new { placeholder = "제목을 입력하세요" })</td>
        </tr>
        <tr>
            <th>내용</th>
            <td>@Html.TextAreaFor(m => m.board_content, 20, 30, htmlAttributes: new { style = "width: 100%; max-width: 70%;" , placeholder = "write something.." })</td>
        </tr>
    </table>
    <p>

    </p>

    <div class="text-center">
        @Html.ValidationMessageFor(m => m.board_name)
        @Html.ValidationMessageFor(m => m.board_subject)
        @Html.ValidationMessageFor(m => m.board_content)
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-primary" onclick="return confirm('게시글을 작성하시겠습니까?')">작성</button>
        @Html.ActionLink("취소", "Index", null, new { @class = "btn btn-success" })
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}