@model MvcBoard.Models.Board

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.board_postNo)
    @Html.HiddenFor(m => m.board_readCount)
    @Html.HiddenFor(m => m.board_writeTime)

    <table class="tbl_basic">
        <tr>
            <th style="width: 10%;">이름</th>
            <td>@Html.TextBoxFor(m => m.board_name)</td>
        </tr>
        <tr>
            <th>제목</th>
            <td colspan="3">@Html.TextBoxFor(m => m.board_subject)</td>
        </tr>
        <tr>
            <th>내용</th>
            <td colspan="3">@Html.TextAreaFor(m => m.board_content, new { rows = 10 })</td>
        </tr>
    </table>
    <p>
        <input type="submit" value="저장" />
    </p>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
