@model PagedList.IPagedList<MvcBoard.Models.Board>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Board List";
}

<h1 style="text-align: center">BOARD</h1>

@{
    string SchTxt = ViewBag.CurrentSchTxt;
}

<table class="table table-striped">
    <thead>
        <tr>
            <th class="text-left" style="width: 4%">번호</th>
            <th class="text-center" style="width: 45%">제목</th>
            <th class="text-center" style="width: 10%">글쓴이</th>
            <th class="text-center" style="width: 8%">작성일</th>
            <th class="text-center" style="width: 4%">조회수</th>

        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.board_postNo</td>
            <td style="text-align: left; padding-left: 15px;"><a href="/Board/Details/@item.board_postNo">@item.board_subject</a></td>
            <td class="text-center">@item.board_name</td>
            <td class="text-center">@item.board_writeTime.ToShortDateString()</td>
            <td class="text-center">@item.board_readCount</td>

        </tr>
    }
</table>

<script>
    var OpenCreatePage = function () {
        location.href = "/Board/Create";

        return false;
    }
</script>



<div class="row text-right" style="margin-left: 0px; margin-right:0px; margin-bottom:15px;">
    <button type="button" class="text-center btn btn-primary" onclick="OpenCreatePage()">글 작성</button>

</div>

@using (Html.BeginForm("Index", "Board", FormMethod.Get))

{
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4">
            <div class="input-group">
                @Html.TextBox("SchTxt", null, new { @placeholder = "검색어를 입력해주세요", @value = SchTxt, @class = "form-control input-sm" })
                <span class="input-group-btn">
                    <input type="submit" value="검색" class="btn btn-default input-sm" />
                </span>
            </div><!-- /input-group -->
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
}

<div>
    <div class="col-xs-12 text-center">
        @Html.PagedListPager(Model, Page => Url.Action("Index", new { Page, CurrentSchTxt = SchTxt }))
    </div>
</div>

